# mac
.DS_Store

# environment
.python-version

# build cruft
build/
dist/
*.egg-info

# cache
.pytest_cache
*.pyc
__pycache__/

# Flask
flask_session/
instance/

# Pipenv
Pipfile.lock

# Misc
scratch_*
sui.log.*