[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
python-dotenv = "*"
flask-session = "*"
flask-sqlalchemy = "*"
dataclasses-json = "*"
pysui-fastcrypto = {path = "./../pysui-fastcrypto/target/wheels/pysui_fastcrypto-0.2.0-cp310-abi3-macosx_11_0_arm64.whl"}
pysui = {path = "./../pysui"}

[dev-packages]
pytest = "*"
pydocstyle = "*"
pylint = "*"
black = "*"
build = "*"
twine = "*"
pyopenssl = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
